rvm:
- 1.9.3
- 2.0.0
services:
- couchdb
env:
  global:
  - secure: CekvzarBrARhWE2/K1cof7SCnXBSzN/MijwO4hI+n1fITgk18gBEzlfyzd4BD68JZ2fVhPuWIqs+9WxBm+XLZUGYcgiBRovqN9JooElXgyV/CvqIEbJ7Xa4Vw/8mE2qJ1Ce54A8Sdkt4cfOZppyedUg/krzYw5uar3sDWWTt6z0=
  - secure: aSi+sIpBoS6VofHVUToRpvXrHG3avvdwG0frOBh+A8ijsjn3fOACeJm+ipQystYtCciZ09l5A/Q/Tkd1sogWy8ymU7bULVJsJb+aNJRM+00QYFelCLpxD8c6gP7aty/IRk7RfWqrii1ZHQ6KSeSqlJf6P6gYZOOA+1IQBO532vY=
notifications:
  email:
    - adrian.warman@uk.ibm.com
    - kim@cloudant.com
  on_success: always
before_install:
- sudo apt-get update
- sudo apt-get install python python-pip jq
- sudo pip install couchapp
script:
- bundle exec middleman build --verbose
- mkdir couchapp/_attachments
- cp -r build/* couchapp/_attachments
- ./scripts/deploy.sh
after_success:
- sudo pip install cloudant beautifulsoup4
- ./scripts/deploy-branch.sh "$USERNAME" "$PASSWORD"
