@charset "utf-8";
@import 'variables';

.typeahead-wrapper {
  display: block;
  margin: 50px 0;
}

.tt-dropdown-menu {
  color: $nav-text;
  padding: 16px;
  background-color: #0E2132;
  opacity: 0.9;
  margin-left: 40px;
  overflow-y: scroll;
  max-height: 300px;
}

.tt-suggestion {
    font-weight: 300;
    font-size: 16px;
    color: #999;

  &.tt-cursor {
    background-color: #ccc;
  }
}

.triggered-events {
  float: right;
  width: 500px;
  height: 300px;
}
