.typeahead-wrapper {
  display: block;
  margin: 50px 0;
}

.tt-dropdown-menu {
  padding: 16px;
  background-color: #fff;
  border: 1px solid #000;
  margin-left: 40px;
}

.tt-suggestion.tt-cursor {
  background-color: #ccc;
}

.triggered-events {
  float: right;
  width: 500px;
  height: 300px;
}
